@model Gummies.Models.Gummy

@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Add New Poduct</h2>
    <hr />
    <h3>Add a new product</h3>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        <label>Cost in Dollars Per Bag</label>
        @Html.TextBoxFor(model => model.Cost)

        <label>Country of Origin</label>
        @Html.TextBoxFor(model => model.Country)

        <label>URL link to image</label>
        @Html.TextBoxFor(model => model.Image)
        <input type="submit" value="Add new product" />

    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>