@model Gummies.Models.Gummy

@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row candy-row">
        <div class="col-xs-6">
            <img class="detail-pic" src="@Html.DisplayFor(model => model.Image)" alt="image of product" />
        </div>
        <div class="col-xs-6 candy-details">
            <h4 class="detail-name">Candy Name: @Html.DisplayFor(model => model.Name)</h4>
            <h5>@Html.DisplayNameFor(model => model.Cost): $@Html.DisplayFor(model => model.Cost)/bag</h5>
            <h5 class="detail-country">Imported from @Html.DisplayFor(model => model.Country)</h5>
            <h5 class="detail-description">Get a taste of paradise with these juicy, delicious and fun-filled gummies.</h5>

            <p>@Html.ActionLink("Edit", "Edit", new { id = Model.GummyId })</p>
            <p>@Html.ActionLink("Delete", "Delete", new { id = Model.GummyId })</p>

        </div>
    </div>
</div>
    <div class="row bottom-detail-row">
        <div class="col-xs-4">
            <p class="product-line"></p>
        </div>
        <div class="col-xs-4 products-also">
            Products You May Also Like
        </div>
        <div class="col-xs-4">
            <p class="product-line"></p>
        </div>
    </div>

    <div class="row detail-bottom-row">
        <div class="row">
                <div class="col-md-3 product-square">
                    <img class="detail-also-pic" src="https://www.sugarfina.com/shop/media/catalog/product/cache/1/thumbnail/222x/9df78eab33525d08d6e5fb8d27136e95/P/0/P0030.jpg" alt="image of product" />

                    <p class="candy-also-name">CHAMPAGNE BEARS</p>
                </div>
            <div class="col-md-3 product-square">
                <img class="detail-also-pic" src="https://www.sugarfina.com/shop/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/a/baby_butterflies_2016_1.jpg" alt="image of product" />

                <p class="candy-also-name">baby Butterflies</p>
            </div>
            <div class="col-md-3 product-square">
                <img class="detail-also-pic" src="https://www.sugarfina.com/shop/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/0/p0008_1.jpg" alt="image of product" />

                <p class="candy-also-name">Apple Frogs</p>
            </div>
            <div class="col-md-3 product-square">
                <img class="detail-also-pic" src="https://www.sugarfina.com/shop/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/P/0/P0090.jpg" alt="image of product" />

                <p class="candy-also-name">GUMMY MANGO</p>
            </div>
        </div>
    </div>
<div class="container">
    <p class="detail-homelink">@Html.ActionLink("Home", "Index")</p>
</div>

